* {
  box-sizing: border-box;
}
body {
  background-color: rgb(238, 231, 231);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}
.main-header {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.input-area {
  display: inline-block;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.country-container {
  display: flex;
  flex-direction: column;
}
.country-secondary-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.country-description-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.country-description-container h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.country-name {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.flag-icon {
  height: 20px;
  display: inline-block;
  margin-left: 20px;
}
.flag-image {
  display: block;
  max-width: 50%;
  height: auto;
  /* margin-left: 30px; */
}
.country-items {
  width: 100%;
  max-height: 40px;
  margin-top: 10px;
}
